/* pagedivider */
.page-divider { margin-top:40px; }
.pd-img, .pd-anchor { margin:0px; }
.pd-block { padding:100px 0; position: relative; }
.pd-alt:before { background:white; position: absolute; left:-999px; right:-999px; top:0; bottom:0; content: ""; z-index: -1; }
.pd-title { margin:0px }
.pd-body { width: 100% }
.pd-wrap { display: table; width: 100% }
.pd-align { /*display:flex*/ }
.pd-align-alt { order:2; }
.pd-no-img { text-align:center; }
.pd-no-img ul { text-align:left; }
